<form class="{{cssClass}} {{actor.type}} shw-character-sheet-root" autocomplete="off">
  <section class="svelte-sheet-body"></section>
</form>

<style>
  .shw-character-sheet-root {
    --font-size-10: 0.625rem;
    --font-size-11: 0.6875rem;
    --font-size-12: 0.75rem;
    --font-size-13: 0.8125rem;
    --font-size-14: 0.875rem;
    --font-size-15: 0.9375rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-40: 2.5rem;
    --font-size-48: 3rem;
    --font-size-64: 4rem;
    --font-size-80: 5rem;
    --color-scheme: dark;
    --color-warm-1: #ee9b3a;
    --color-warm-2: #c9593f;
    --color-warm-3: #5d142b;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #f7f3e8;
    --color-light-2: #efe6d8;
    --color-light-3: #e7d1b1;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-dark-1: #111;
    --color-dark-2: #222;
    --color-dark-3: #333;
    --color-dark-4: #444;
    --color-dark-5: #555;
    --color-dark-6: #666;
    --color-level-error: #ce0707;
    --color-level-error-bg: rgba(105, 0, 8, 0.8);
    --color-level-error-border: #750003;
    --color-level-info: #59a1f6;
    --color-level-info-bg: rgba(47, 80, 132, 0.8);
    --color-level-info-border: #5c87b9;
    --color-level-success: #26b231;
    --color-level-success-bg: rgba(26, 107, 34, 0.8);
    --color-level-success-border: #1b8f23;
    --color-level-warning: #ee9b3a;
    --color-level-warning-bg: rgba(214, 150, 0, 0.8);
    --color-level-warning-border: #b18404;
    --color-scrollbar: #5d142b;
    --color-scrollbar-track: transparent;
    --color-text-light-highlight: #f0f0e0;
    --color-text-light-heading: #c9c7b8;
    --color-text-light-primary: #b5b3a4;
    --color-text-dark-primary: #191813;
    --color-text-dark-secondary: #4b4a44;
    --color-text-dark-header: #23221d;
    --color-text-dark-inactive: #7a7971;
    --color-text-hyperlink: #ff6400;
    --color-text-selection: #f7f3e8;
    --color-text-selection-bg: #777;
    --color-text-primary: var(--color-text-dark-primary);
    --color-text-emphatic: var(--color-text-dark-primary);
    --color-text-light-0: #fff;
    --color-text-light-1: #eee;
    --color-text-light-2: #ddd;
    --color-text-light-3: #ccc;
    --color-text-light-4: #bbb;
    --color-text-light-5: #aaa;
    --color-text-light-6: #999;
    --color-text-light-7: #888;
    --color-text-dark-1: #111;
    --color-text-dark-2: #222;
    --color-text-dark-3: #444;
    --color-text-dark-4: #555;
    --color-text-dark-5: #666;
    --color-text-dark-6: #777;
    --color-border-light-1: #ddd;
    --color-border-light-2: #999;
    --color-border-dark-1: #111;
    --color-border-dark-2: #222;
    --color-border-dark-3: #333;
    --color-border-dark-4: #444;
    --color-border-dark-5: #666;
    --color-shadow-primary: #ff0000;
    --color-shadow-highlight: #ff6400;
    --color-shadow-dark: #000;
    --color-underline-inactive: #7a7971;
    --color-underline-active: #44191A;
    --color-underline-header: #782e22;
    --color-border-light-highlight: #f0f0e0;
    --color-border-light-primary: #b5b3a4;
    --color-border-light-secondary: #c9c7b8;
    --color-border-light-tertiary: #7a7971;
    --color-border-dark: #000;
    --color-border-dark-primary: #191813;
    --color-border-dark-secondary: #23221d;
    --color-border-dark-tertiary: #4b4a44;
    --color-border-highlight: #ff6400;
    --color-border-highlight-alt: #ff0000;
    --color-bg-btn-minor-inactive: #c9c7b8;
    --color-bg-btn-minor-active: #b5b3a4;
    --color-select-option-bg: #dad8cc;
    --color-checkbox-checked: #666;
    --color-ownership-none: #5500ff;
    --color-ownership-observer: #7a7971;
    --color-ownership-owner: #b5b3a4;
    --sidebar-width: 300px;
    --sidebar-header-height: 32px;
    --sidebar-item-height: 48px;
    --hotbar-width: 578px;
    --macro-size: 50px;
    --color-blind-bg: #f5eaf5;
    --color-blind-border: #6b476b;
    --color-emote-bg: #f3edde;
    --color-emote-border: #887c5d;
    --color-whisper-bg: #e8e8ef;
    --color-whisper-border: #545469;
    --form-field-height: 26px;
    --font-primary: "Signika", sans-serif;
    --line-height-12: 0.75rem;
    --line-height-16: 1rem;
    --line-height-20: 1.25rem;
    --line-height-30: 1.875rem;
  }

  .svelte-sheet-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
  }
</style>
